In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
def datetime(date,format_string):
    return pd.to_datetime(date,format= format_string,errors='coerce')

In [3]:
data_postulation1= pd.read_csv('../Data/datos_navent_fiuba/fiuba_4_postulaciones.csv')
data_postulation1.head()

      idaviso idpostulante     fechapostulacion
0  1112257047         NM5M  2018-01-15 16:22:34
1  1111920714         NM5M  2018-02-06 09:04:50
2  1112346945         NM5M  2018-02-22 09:04:47
3  1112345547         NM5M  2018-02-22 09:04:59
4  1112237522         5awk  2018-01-25 18:55:03

In [4]:
data_postulation2= pd.read_csv('../Data/Hasta15Abril/fiuba_4_postulaciones.csv')
data_postulation2.head()

      idaviso idpostulante     fechapostulacion
0  1112248724         NjlD  2018-01-19 07:39:16
1  1112286523         ZaO5  2018-01-24 15:07:39
2  1112272060         ZaO5  2018-01-24 15:20:10
3  1112288401         ZaO5  2018-01-26 08:37:04
4  1112300563         ZaO5  2018-01-30 13:35:48

In [5]:
#Concateno los dos periodos de postulaciones
frames_postulation = [data_postulation1,data_postulation2]
data_postulation = pd.concat(frames_postulation, ignore_index = True)
data_postulation.drop_duplicates(inplace = True, keep = 'first')
data_postulation.reset_index(drop=True, inplace = True)

In [7]:
data_postulation['fechapostulacion'] = datetime(data_postulation['fechapostulacion'],'%Y-%m-%d')

In [12]:
data_postulation['Mayor15Abril'] = data_postulation['fechapostulacion'].map(lambda x: (x.month >= 4) and(x.day>15))

In [14]:
data_postulation['Mayor15Abril'].value_counts()

False    6489700
True      114834
Name: Mayor15Abril, dtype: int64

In [18]:
data_postulation = data_postulation[data_postulation['Mayor15Abril'] == True]

In [19]:
data_postulation['Mayor15Abril'].value_counts()

True    114834
Name: Mayor15Abril, dtype: int64

In [20]:
data_postulation

            idaviso idpostulante    fechapostulacion  Mayor15Abril
3401720  1112461697         Ez8J 2018-04-17 08:00:04          True
3401902  1112463023       Y0Gmvr 2018-04-16 14:19:30          True
3401923  1112213212       a6AG60 2018-04-17 09:22:09          True
3401924  1112223876       a6AG60 2018-04-17 09:22:39          True
3401925  1112423240       a6AG60 2018-04-17 09:23:26          True
3401926  1112448303       a6AG60 2018-04-17 09:23:50          True
3401927  1112468458       a6AG60 2018-04-17 09:24:42          True
3401928  1112460147       a6AG60 2018-04-17 09:26:23          True
3401929  1112424059       a6AG60 2018-04-17 09:26:43          True
3402084  1112386866       EppJmb 2018-04-16 20:38:24          True
3402149  1112460187       ZaaBeR 2018-04-16 00:01:25          True
3402150  1112460186       ZaaBeR 2018-04-16 00:02:05          True
3402151  1112468772       ZaaBeR 2018-04-17 07:15:26          True
3402195  1112466544       NjEbB4 2018-04-16 19:26:24          True
3402196  1112468532       NjEbB4 2018-04-16 20:04:18          True
3402200  1112411627       abWD0N 2018-04-16 21:24:55          True
3402201  1112380596       abWD0N 2018-04-16 21:26:09          True
3402326  1112437881       EZW00N 2018-04-17 08:52:50          True
3402327  1112447440       EZW00N 2018-04-17 08:54:44          True
3402366  1112468434       5kD06q 2018-04-16 18:18:41          True
3402367  1112237172       5kD06q 2018-04-16 21:04:00          True
3402424  1112441945       Nerv94 2018-04-16 07:28:32          True
3402425  1112464711       Nerv94 2018-04-16 07:31:44          True
3402426  1112457991       Nerv94 2018-04-16 07:32:09          True
3402427  1112466548       Nerv94 2018-04-16 17:07:12          True
3402502  1112358994       ekKQq8 2018-04-16 21:03:35          True
3402601  1110640622       50wBNG 2018-04-16 16:07:24          True
3402602  1112461839       50wBNG 2018-04-16 16:10:11          True
3402622  1112450896       EVOzYJ 2018-04-16 00:44:27          True
3402732  1112468359       5M8apw 2018-04-17 08:00:38          True
...             ...          ...                 ...           ...
6603740  1112467005      96Xvak8 2018-04-16 13:28:51          True
6603741  1112463897      96Xvak8 2018-04-16 13:29:13          True
6603742  1112461883      96Xvak8 2018-04-16 13:29:54          True
6603743  1112466740      96Xvak8 2018-04-16 13:31:01          True
6603744  1112458667      96Xvak8 2018-04-16 13:31:51          True
6603745  1112461610      96Xvak8 2018-04-16 13:33:58          True
6603746  1112454235      96Xvak8 2018-04-16 13:35:17          True
6603747  1112467026      96Xvak8 2018-04-16 13:37:59          True
6603773  1112457467      zvabRY6 2018-04-17 10:20:43          True
6603892  1112466383      96XvNlZ 2018-04-17 10:09:33          True
6603893  1112420705      96XvNlZ 2018-04-17 10:13:02          True
6603910  1112464225      QNrBRae 2018-04-16 20:23:41          True
6603911  1112461551      QNrBRae 2018-04-16 20:25:23          True
6603912  1112372247      QNrBRae 2018-04-16 20:26:08          True
6603913  1112458873      QNrBRae 2018-04-16 20:27:16          True
6603914  1112455062      QNrBRae 2018-04-16 20:34:22          True
6603915  1112454880      QNrBRae 2018-04-16 20:35:03          True
6603916  1112453972      QNrBRae 2018-04-16 20:35:56          True
6603917  1112453079      QNrBRae 2018-04-16 20:36:33          True
6603918  1112451845      QNrBRae 2018-04-16 20:37:07          True
6603919  1112451579      QNrBRae 2018-04-16 20:37:30          True
6603940  1111753681      VNr0qez 2018-04-17 09:39:30          True
6603941  1112414666      VNr0qez 2018-04-17 09:39:36          True
6603942  1112033906      VNr0qez 2018-04-17 09:39:59          True
6603943  1112334788      VNr0qez 2018-04-17 09:40:52          True
6603944  1112334791      VNr0qez 2018-04-17 09:42:08          True
6604025  1112454913      ekOwpep 2018-04-16 20:51:06          True
6604026  1112450395      ekOwpep 2018-04-16 20:51:27          True
6604118  1112334788      bOjXqA0 2018-04-16 13:41:29          True
6604169  1112466862      0zPa2L8 2018-04-16 11:30:58          True

[114834 rows x 4 columns]

In [21]:
data_postulation.to_csv('../test/postulationsDesp15Abril.csv', index = False)