In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
                                     
%matplotlib inline

In [2]:
postulations_encoded = pd.read_csv('../MapDataAnalysis/DataMappedRandomForest1v1.csv')

In [3]:
postulations_encoded.head()

,se_postulo,estadoEncoded,nivelEducativoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,edadEncoded
0,1,0,6,0,0,2,3.0
1,1,1,6,0,0,1,3.0
2,1,0,6,0,0,0,0.0
3,1,1,6,0,0,0,3.0
4,1,1,6,0,0,0,2.0

In [7]:
postulations_encoded = pd.get_dummies(postulations_encoded,columns=['estadoEncoded','nivelEducativoEncoded','tipoDeTrabajoEncoded','nivelLaboralEncoded','sexoEncoded','edadEncoded'])

In [8]:
postulations_encoded.head()

,se_postulo,estadoEncoded_0,estadoEncoded_1,estadoEncoded_2,nivelEducativoEncoded_0,nivelEducativoEncoded_1,nivelEducativoEncoded_2,nivelEducativoEncoded_3,nivelEducativoEncoded_4,nivelEducativoEncoded_5,...,nivelLaboralEncoded_3,nivelLaboralEncoded_4,sexoEncoded_0,sexoEncoded_1,sexoEncoded_2,edadEncoded_0.0,edadEncoded_1.0,edadEncoded_2.0,edadEncoded_3.0,edadEncoded_4.0
0,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,1,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,1,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,1,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
4,1,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [9]:
postulations_encoded.to_csv('DataMappedRandomForest1v2OneHotEncoding.csv')

In [2]:
postulations_encoded= pd.read_csv('DataMappedRandomForest1v2OneHotEncoding.csv')

In [4]:
postulations_encoded.columns

Index(['Unnamed: 0', 'se_postulo', 'estadoEncoded_0', 'estadoEncoded_1',
       'estadoEncoded_2', 'nivelEducativoEncoded_0', 'nivelEducativoEncoded_1',
       'nivelEducativoEncoded_2', 'nivelEducativoEncoded_3',
       'nivelEducativoEncoded_4', 'nivelEducativoEncoded_5',
       'nivelEducativoEncoded_6', 'tipoDeTrabajoEncoded_0',
       'tipoDeTrabajoEncoded_1', 'tipoDeTrabajoEncoded_2',
       'tipoDeTrabajoEncoded_3', 'tipoDeTrabajoEncoded_4',
       'tipoDeTrabajoEncoded_5', 'tipoDeTrabajoEncoded_6',
       'tipoDeTrabajoEncoded_7', 'tipoDeTrabajoEncoded_8',
       'tipoDeTrabajoEncoded_9', 'nivelLaboralEncoded_0',
       'nivelLaboralEncoded_1', 'nivelLaboralEncoded_2',
       'nivelLaboralEncoded_3', 'nivelLaboralEncoded_4', 'sexoEncoded_0',
       'sexoEncoded_1', 'sexoEncoded_2', 'edadEncoded_0.0', 'edadEncoded_1.0',
       'edadEncoded_2.0', 'edadEncoded_3.0', 'edadEncoded_4.0'],
      dtype='object')

In [3]:
test = pd.read_csv('TestMappedRandomForest1.csv')

In [7]:
test = pd.get_dummies(test,columns=['estadoEncoded','nivelEducativoEncoded','tipoDeTrabajoEncoded','nivelLaboralEncoded','sexoEncoded','edadEncoded'])

In [8]:
test.head()

,id,estadoEncoded_0,estadoEncoded_1,estadoEncoded_2,nivelEducativoEncoded_0,nivelEducativoEncoded_1,nivelEducativoEncoded_2,nivelEducativoEncoded_3,nivelEducativoEncoded_4,nivelEducativoEncoded_5,...,nivelLaboralEncoded_3,nivelLaboralEncoded_4,sexoEncoded_0,sexoEncoded_1,sexoEncoded_2,edadEncoded_0.0,edadEncoded_1.0,edadEncoded_2.0,edadEncoded_3.0,edadEncoded_4.0
0,0,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1
1,1,0,1,0,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,1,0
2,2,0,1,0,0,0,0,1,0,0,...,1,0,1,0,0,0,0,0,1,0
3,3,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
4,4,0,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [9]:
test.to_csv('TestaMappedRandomForest1v2OneHotEncoding.csv',index=False)

In [4]:
test.columns

Index(['id', 'estadoEncoded_0', 'estadoEncoded_1', 'estadoEncoded_2',
       'nivelEducativoEncoded_0', 'nivelEducativoEncoded_1',
       'nivelEducativoEncoded_2', 'nivelEducativoEncoded_3',
       'nivelEducativoEncoded_4', 'nivelEducativoEncoded_5',
       'nivelEducativoEncoded_6', 'tipoDeTrabajoEncoded_0',
       'tipoDeTrabajoEncoded_1', 'tipoDeTrabajoEncoded_2',
       'tipoDeTrabajoEncoded_3', 'tipoDeTrabajoEncoded_4',
       'tipoDeTrabajoEncoded_5', 'tipoDeTrabajoEncoded_6',
       'tipoDeTrabajoEncoded_7', 'tipoDeTrabajoEncoded_8',
       'nivelLaboralEncoded_0', 'nivelLaboralEncoded_1',
       'nivelLaboralEncoded_2', 'nivelLaboralEncoded_3',
       'nivelLaboralEncoded_4', 'sexoEncoded_0', 'sexoEncoded_1',
       'sexoEncoded_2', 'edadEncoded_0.0', 'edadEncoded_1.0',
       'edadEncoded_2.0', 'edadEncoded_3.0', 'edadEncoded_4.0'],
      dtype='object')