In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [2]:
#Funcion que limpia los datos, quedandose con el nivel de educacion mas alto de casa id de los postulantes.
def education_cleaning(df):
    education_dic= {'Secundario': 1, 'Universitario':3,'Terciario/TÃ©cnico':2, 'Otro':0, 'Posgrado':4, 'Master': 5, 'Doctorado': 6}
    df['nombre_sort'] = df['nombre'].map(education_dic)
    df = df.sort_values(by='nombre_sort', ascending=False)
    df = df.drop_duplicates(subset='idpostulante',keep='first')
    return df

In [3]:
def datetime(date,format_string):
    return pd.to_datetime(date,format= format_string,errors='coerce')

In [4]:
merge_postulants_ads = pd.read_csv('avisos_postulantes.csv')

In [5]:
merge_postulants_ads.head()

,idpostulante,nombre,estado,nombre_sort,fechanacimiento,sexo,idaviso,fechapostulacion,idpais,titulo,nombre_zona,tipo_de_trabajo,nivel_laboral,nombre_area
0,4rP6q15,Doctorado,En Curso,6.0,NaN,NO_DECLARA,1112145679,2018-01-19 11:34:00,1,Telecobrador - Importante Banco,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Call Center
1,4rP6q15,Doctorado,En Curso,6.0,NaN,NO_DECLARA,1112145679,2018-01-19 11:34:00,1,Telecobranzas - Importante banco,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Call Center
2,RzMvGDo,Doctorado,Graduado,6.0,1986-08-21,MASC,1112145679,2018-04-11 07:19:00,1,Telecobrador - Importante Banco,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Call Center
3,RzMvGDo,Doctorado,Graduado,6.0,1986-08-21,MASC,1112145679,2018-04-11 07:19:00,1,Telecobranzas - Importante banco,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Call Center
4,owav2La,Doctorado,En Curso,6.0,1998-03-14,FEM,1112145679,2018-02-20 01:54:39,1,Telecobrador - Importante Banco,Gran Buenos Aires,Full-time,Senior / Semi-Senior,Call Center

In [5]:
merge_postulants_ads['se_postulo'] = 1

In [6]:
merge_postulants_ads_NOTS = pd.read_csv('avisos_no_postulantes.csv')

In [7]:
#Concateno las postulaciones con las NO postulaciones

frames = [merge_postulants_ads,merge_postulants_ads_NOTS]
total = pd.concat(frames, ignore_index = True)

In [5]:
total.drop_duplicates(subset=['idpostulante','idaviso'], keep = 'first',inplace = True)
total.reset_index(inplace = True,drop = True)

In [6]:
total.to_csv("postulaciones_nopostulaciones.csv", index = False)

In [ ]:
#Aca empezaria a ver que datos voy a usar para la parte de machine learning y entonces saco
#los datos que no voy a usar y mapeo los datos segun sea necesario.SERIA MEJOR QUE ESTE EN OTRO NOTEBOOK

In [4]:
total = pd.read_csv('postulaciones_nopostulaciones.csv')

/home/agustin/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
#Aca empiezo a sacar las columnas que no iba a usar para el arbol de decision
total.drop(columns = ['nombre_sort','idpais','fechapostulacion','titulo'],inplace = True)

In [6]:
#Paso a datetime la parte de fecha de nacimiento
total['edadPostulante'] = datetime(total['fechanacimiento'],'%Y-%m-%d')

In [7]:
#Calculo la edad de cada postulante
total['edadPostulante'] = total['edadPostulante'].map(lambda x: 2018 - x.year)
#Aca tengo que poner lo de rellenar las edades con su promedio

In [8]:
age_avg = total['edadPostulante'].mean()
age_std = total['edadPostulante'].std()
age_null_count = total['edadPostulante'].isnull().sum()
age_null_random_list = np.random.randint(age_avg - age_std, age_avg + age_std, size=age_null_count)
 
conValoresNulos = np.isnan(total['edadPostulante'])
 
total.loc[np.isnan(total['edadPostulante']), 'edadPostulante'] = age_null_random_list
total['edadPostulante'] = total['edadPostulante'].astype(int)
print("Edad Promedio: " + str(age_avg))
print("DesviÃ³ Std Edad: " + str(age_std))
print("Intervalo para asignar edad aleatoria: " + str(int(age_avg - age_std)) + " a " + str(int(age_avg + age_std)))

Edad Promedio: 30.462644225562578
DesviÃ³ Std Edad: 8.342565070995793
Intervalo para asignar edad aleatoria: 22 a 38

In [9]:
total.drop(columns = ['fechanacimiento'],inplace = True)

In [10]:
total = total.fillna('')

In [11]:
total.head(10)

,estado,idaviso,idpostulante,nivel_laboral,nombre,nombre_area,nombre_zona,se_postulo,sexo,tipo_de_trabajo,edadPostulante
0,En Curso,1112145679,4rP6q15,Senior / Semi-Senior,Doctorado,Call Center,Gran Buenos Aires,1,NO_DECLARA,Full-time,35
1,Graduado,1112145679,RzMvGDo,Senior / Semi-Senior,Doctorado,Call Center,Gran Buenos Aires,1,MASC,Full-time,32
2,En Curso,1112145679,owav2La,Senior / Semi-Senior,Doctorado,Call Center,Gran Buenos Aires,1,FEM,Full-time,20
3,Graduado,1112145679,1eWdwB,Senior / Semi-Senior,Doctorado,Call Center,Gran Buenos Aires,1,FEM,Full-time,37
4,Graduado,1112145679,2zQMWYa,Senior / Semi-Senior,Doctorado,Call Center,Gran Buenos Aires,1,FEM,Full-time,29
5,En Curso,1112145679,PmJOPpZ,Senior / Semi-Senior,Doctorado,Call Center,Gran Buenos Aires,1,FEM,Full-time,22
6,Graduado,1112145679,EzpRZQ0,Senior / Semi-Senior,Doctorado,Call Center,Gran Buenos Aires,1,FEM,Full-time,48
7,En Curso,1112145679,eRrezo,Senior / Semi-Senior,Doctorado,Call Center,Gran Buenos Aires,1,FEM,Full-time,42
8,En Curso,1112145679,5mrlM6G,Senior / Semi-Senior,Doctorado,Call Center,Gran Buenos Aires,1,FEM,Full-time,37
9,En Curso,1112145679,A3AAoZY,Senior / Semi-Senior,Master,Call Center,Gran Buenos Aires,1,FEM,Full-time,31

In [11]:
# estado Mapping 
total['estadoEncoded'] = total['estado'].map( {'En Curso': 0, 'Abandonado': 2, 'Graduado': 1, '': 0} ).astype(int)
# nivelEducativo Mapping 
total['nivelEducativoEncoded'] = total['nombre'].map( {'Secundario': 1, 'Universitario':3,'Terciario/TÃ©cnico':2, 'Otro':0, 'Posgrado':4, 'Master': 5, 'Doctorado': 6, '':0}).astype(int)
# tipoDeTrabajo Mapping 
total['tipoDeTrabajoEncoded'] = total['tipo_de_trabajo'].map( {'Full-time':0, 'Part-time':1, 'Teletrabajo':2, 'Por Horas': 3,'Pasantia': 4, 'Temporario': 5, 'Por Contrato': 6,'Fines de Semana': 7, 'Primer empleo': 8, 'Voluntario':9} ).astype(int)
 

    
# Nivel de trabajo Mapping
total['nivelLaboralEncoded'] = total['nivel_laboral'].map( {'Senior / Semi-Senior':0, 'Junior':1, 'Otro':2, 'Jefe / Supervisor / Responsable': 3, 
                                                              'Gerencia / Alta Gerencia / DirecciÃ³n': 4} ).astype(int)


#Sexo Mapping

total['sexoEncoded'] = total['sexo'].map({'FEM':0,'0.0':2, 'MASC':1, 'NO_DECLARA':2}).astype(int)


# Mapping edad del postulante
total.loc[ total['edadPostulante'] <= 21, 'edadEncoded']                         = 0
total.loc[(total['edadPostulante'] > 21) & (total['edadPostulante'] <= 26), 'edadEncoded'] = 1
total.loc[(total['edadPostulante'] > 26) & (total['edadPostulante'] <= 30), 'edadEncoded'] = 2
total.loc[(total['edadPostulante'] > 30) & (total['edadPostulante'] <= 40), 'edadEncoded'] = 3
total.loc[ total['edadPostulante'] > 40, 'edadEncoded'] = 4

In [12]:
drop_elements = ['idaviso','idpostulante','nombre','tipo_de_trabajo','estado','sexo','edadPostulante','nivel_laboral','nombre_area','nombre_zona']
postulations_encoded = total.drop(drop_elements, axis = 1)

In [13]:
total.to_csv("postulaciones_nopostulacionesRF.csv", index = False)

In [14]:
postulations_encoded.head(10)

,se_postulo,estadoEncoded,nivelEducativoEncoded,tipoDeTrabajoEncoded,nivelLaboralEncoded,sexoEncoded,edadEncoded
0,1,0,6,0,0,2,3.0
1,1,1,6,0,0,1,3.0
2,1,0,6,0,0,0,0.0
3,1,1,6,0,0,0,3.0
4,1,1,6,0,0,0,2.0
5,1,0,6,0,0,0,1.0
6,1,1,6,0,0,0,4.0
7,1,0,6,0,0,0,4.0
8,1,0,6,0,0,0,3.0
9,1,0,5,0,0,0,3.0

/home/agustin/.local/lib/python3.5/site-packages/ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.